/*.form-container {*/
/*  font-family: 'Manrope', sans-serif;*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  flex-direction: column;*/
/*  gap: 64px;*/
/*}*/

.register__sub-header--upper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register__header {
  font-family: 'Manrope', sans-serif;
  color: white;
  font-size: var(--font-size-header);
  font-weight: 500;
  margin-bottom: 0;
}

.register__sub-header {
  align-items: center;
  font-family: 'Manrope', sans-serif;
  color: white;
  line-height: 22px;
  font-size: var(--font-size-default);
  font-weight: 400;
  display: inline-block;
  width: 302px;
  text-align: center;

}

.register__sub-header--lower {
  letter-spacing: 0.3px;
  margin-bottom: 37px;
}

#name {
  position: relative
}

#email {
  position: relative;
}

#password {
  position: relative;
}

.register__sub-header--upper {
  letter-spacing: 1.1px;
}

.input-gradient-border {
  position: relative;
  border-radius: 15px;
  padding: 1.5px;
  background: linear-gradient(90deg, #CDCDCD 0%, #1E1E1E 100%);
  width: 448px;
  height: 51px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.input-gradient-border input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: url('/assets/Gradients/ButtonGradient.png') no-repeat center center;
  color: white;
  font-size: 18px;
  border-radius: 15px; /* чуть меньше радиус */
  padding: 10px 24px;
  box-sizing: border-box;
}

.auth-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.input__field {
  position: relative;
}

 input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input__label {
  top: -38px;
  font-family: 'Manrope', sans-serif;
  font-size: var(--font-size-label);
  line-height: 100%;
  color: #7C7C7C;
  position: absolute;
}

.register__button {
  background: var(--color-primary);
  font-size: 20px;
  font-weight: 400;
  width: 448px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.register {
  font-family: 'Manrope', sans-serif;
  font-size: var(--font-size-default);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 37px;
  height: 100vh;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(47px + var(--font-size-label));
}

span {
  white-space: nowrap;
}

.link__login {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
}


