/* Header */

.header-wrapper {
  max-width: 1440px;
  max-height: 73px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header__divider {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
}

/* Menu */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 170px;
}

.menu__item {
  display: flex;
  gap: 34px;
  align-items: center;
}

.menu__item--logo {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu__link {
  text-decoration: none;
  color: var(--color-text);
}

.menu__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu__button--sign-in {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 160px;
  /*height: 120%;*/
  color: #000000;
  background: #FFFFFF;
  border-radius: 55px;
  border: none;
  padding: 12px 32px;
}



