.icon-svg {
  position: absolute;
  transition: left 0.5s, top 0.5s;
  pointer-events: none;
}

.white-blurred-sphere {
  width: 60vw;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: -40vw; /* половина высоты сферы — чтобы выглядывала сверху */
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(circle, rgba(255,255,255,0.7) 60%, rgba(255,255,255,0.2) 100%);
  border-radius: 50%;
  filter: blur(8vw);
  pointer-events: none;
  opacity: 0.6;
  z-index: 1;
}

@media (max-width: 1200px)
{
  .icons {
    display: none;
  }

  .white-blurred-sphere {
    top: -30vw; /* половина высоты сферы — чтобы выглядывала сверху */
  }
}
